(acceleration: Some((profile: Some(Adaptive), speed: 0.000000)), calibration: None, click_method: None, disable_while_typing: None, left_handed: None, map_to_output: None, middle_button_emulation: None, rotation_angle: None, scroll_config: Some((method: None, natural_scroll: None, scroll_button: None, scroll_factor: Some(1.000000))), state: Enabled, tap_config: Some((button_map: Some(LeftRightMiddle), drag: true, drag_lock: false, enabled: true)))