{
    (key: "1", modifiers: [Super]): Workspace(1),
    (key: "1", modifiers: [Super,Shift]): MoveToWorkspace(1),
    (key: "h", modifiers: [Super,Shift]): Move(Left),
    (key: "q", modifiers: [Super,Shift]): Close,
    (key: "Space", modifiers: [Super]): ToggleTiling,
    (key: "h", modifiers: [Super]): Focus(Left),
    (key: "o", modifiers: [Super]): System(HomeFolder),
}
