{
    (key: "g", modifiers: [Super]): Disable,
    (key: "g", modifiers: [Super,Shift]): ToggleWindowFloating,
    (key: "Return", modifiers: [Super]): Spawn("kitty"),
    (key: "1", modifiers: [Super]): Workspace(1),
}
